<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Loading -->
<ng-template #customLoadingTemplate>
  <div class="custom-class"> </div>
</ng-template>

<!-- volunteers Form -->
<br>
<app-header [name]="'ניהול הזמנות'" [titleIcon]="'fa fa-shopping-cart'" [action]="'הוספה'"></app-header>
<div class="container">
  <div class="col-md-8 offset-md-2">
    <button class="btn btn-primary" routerLink="/view-orders"> חזרה לניהול הזמנות <i class="fas fa-arrow-left"></i></button>

    <form #f="ngForm"  accept-charset="UTF-8">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">

            <!-- Choosing Supplier -->
            <label>:בחר ספק </label>
            <select [(ngModel)]="orderTypeInsert.supplier_id" [ngModelOptions]="{standalone: true}" (change)="onChange($event.target.value)"
            dir="rtl" [className]="orderTypeInsert.supplier_id != -1 ? 'form-control is-valid' : 'form-control is-invalid'" required>
              <option [value] ="-1">בחר ספק</option>
              <option *ngFor="let sup of supplierDetails" [value]="sup.ID">
                {{sup.companyName}}
              </option>
            </select>
            <div [className]="orderTypeInsert.supplier_id > 0 ? 'valid-feedback' : 'invalid-feedback'">
              <div *ngIf="orderTypeInsert.supplier_id == -1">{{ SupplierError }}</div>
            </div>
          </div>
        </div>


        <!-- Order's Name -->
        <div class="col-md-6">
            <div class="form-group">
              <label for="OrderTypeName">:שם סוג ההזמנה </label>
              <input #OrderTypeName = "ngModel" type="text" [(ngModel)]="orderTypeInsert.order_type_name" [ngModelOptions]="{standalone: true}"
                id="OrderTypeName" placeholder="שם סוג ההזמנה"  [className]="NameVaild ? 'form-control is-valid' : 'form-control is-invalid'" 
                
                name = "OrderTypeName" (ngModelChange) = "checkName()" required>
                <!-- class="invalid-feedback"  class="form-control is-invalid"-->
                <div [className]="NameVaild ? 'valid-feedback' : 'invalid-feedback'" id="validationName">            
                    <div>{{ NameError }}</div>
                </div>
                
            </div>
          </div>
      </div>
      <br>

      <!-- Loading -->
      <ngx-loading [show]="stopLoading" [config]="{ backdropBackgroundColour: 'rgba(255, 255, 255, 0.2)',backdropBorderRadius: '3px', primaryColour: 'rgb(46,184,184)', secondaryColour: 'rgb(46,184,184)', tertiaryColour: 'rgb(46,184,184)' }"
        [template]="customLoadingTemplate"></ngx-loading>

        <!-- Supplier area -->
      <div class="card text-center" *ngIf="selectedSup.ID">
        <div class="card-header">
          פרטי ספק {{ selectedSup.companyName }} | ספק {{ selectedSup.SupplierType }}
        </div>
        <div class="card-body">
          <h5 class="card-title"> טלפון {{ selectedSup.Phone }} | פקס {{ selectedSup.Fax }} </h5>
          <p class="card-text">:פרטי איש קשר
            <br>
            {{ selectedSup.ContactPerson }} | {{ selectedSup.ContactPhone }}</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
        <div class="card-footer text-muted">
          <b>סוג סחורה </b>{{ selectedSup.GoodsType }}
        </div>
      </div>

      <!-- Table's header -->
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">הערות</th>
            <th scope="col">כמות</th>
            <th scope="col">שם מוצר</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of products;trackBy: trackByFn">
            <td><button class="btn btn-danger btn-md right" (click)="removeProduct(p)"><i class="fas fa-trash-alt"></i></button></td>
            <!-- <td><button class="btn btn-success btn-md" (click)="addProduct()"><i class="fas fa-plus"></i></button></td> -->
           
            <!-- Notes -->
            <td><input #ProductComments type="text" [(ngModel)]="p.comments" [name]="p.comments" [ngModelOptions]="{standalone: true}"
                id="ProductComments" placeholder="הערות" input pattern="[a-zA-Z ]*" class="form-control"> </td>
            
            
                        <!-- Quantity -->
              <td><input #ProductAmount type="number" [(ngModel)]="p.amount" [name]="p.amount" [ngModelOptions]="{standalone: true}"
                id="ProductAmount" placeholder="כמות" [className]="p.amount > 0 ? 'form-control is-valid' : 'form-control is-invalid'" required>
                <div [className]="p.amount > 0 ? 'valid-feedback' : 'invalid-feedback'" >
                  <div *ngIf="p.amount < 1">{{ AmountError }}</div>
                </div>
              </td>
            
            <!-- Product's name -->
                <td><input #ProductName type="text" [(ngModel)]="p.product_name" [name]="p.product_name" [ngModelOptions]="{standalone: true}"
                 id="ProductName" placeholder="שם מוצר" input pattern="[a-zA-Z ]*" [className]="p.product_name ? 'form-control is-valid' : 'form-control is-invalid'">
                <div [className]="p.product_name ? 'valid-feedback' : 'invalid-feedback'" required>
                  <div *ngIf="!p.product_name">{{ ProductError }}</div>
                </div>
            </td>

          </tr>

        </tbody>
        <button class="btn btn-success btn-md right" (click)="addProduct()"> הוספת מוצר <i class="fas fa-plus"></i></button>
      </table>
      <br>
      <div class="form-group">
          <button id="submitType" [disabled] = "!NameVaild" class="btn btn-primary submitBtn" (click)="insertOrderType()" type="submit"> הוסף סוג הזמנה חדש </button>
      </div>
      <!-- <button class="btn btn-success btn-sm">הוספת מוצר <i class="fas fa-plus"></i></button><br><br> -->
      <!-- (click)="insertOrderType()"  -->
    </form>
    <br>



    <!-- alert -->
    <div class="div-horizontal">
      <div *ngIf="ansFromServer" class="alert alert-{{ alertType }} alert-dismissible">
        <a routerLink="/view-orders" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong> {{ alertMsg }}</strong>
      </div>
    </div>

  </div>
</div>