<!-- <div class="text-center"> -->
<!-- <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    משימות <span class="badge badge-light">3</span>
  </button> -->
  <!-- <div class="collapse" id="collapseExample"> -->
      <div  class="mb-1">
          <!-- class="card card-body" -->
      <form  #todoForm= "ngForm" (ngSubmit)="todoSubmit(todoForm.value)">
         
          <!-- *ngIf="show" -->
       <h1 class="text-center text-primary">משימות</h1>
       <div class="input-group mb-3">
          <div class="input-group-prepend">
            <button class="btn btn-secondary" type="button" (click)="addTodo(todo.value)" id="button-addon1"><i class="fa fa-plus" aria-hidden="true"></i></button>
          </div>
          <input #todo type="text" name="todo" class="form-control" placeholder="משימה חדשה" aria-label="Example text with button addon" aria-describedby="button-addon1">
    </div>
       <div class="list-group">
          <a *ngFor="let todo of todoArray" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <p class="mb-1">{{todo}}</p>
              <small><i class="material-icons" (click)="deleteItem(todo)">delete</i></small>
            </div>
          </a>
        </div>
       <!-- <div class="form-group">
       <div class="input-group-prepend">
            <span class="input-group-text" (click)="addTodo(todo.value)"><i class="material-icons">add</i></span>
          <input type="text" #todo class="form-control" placeholder="הוספת משימה" name="todo" ngModel>
         
        </div>
      </div> -->
          
       
      </form>
    </div>
    <!-- </div> -->
<!-- </div> -->
<br>
 