<div class="text-center">
<button type="button" class="btn btn-primary" (click) = "clickTodo()">
    משימות <span class="badge badge-light">4</span>
  </button>
</div>
  <form *ngIf="show" #todoForm= "ngForm" (ngSubmit)="todoSubmit(todoForm.value)">
   
   <h1 class="text-center text-primary">משימות</h1>
   <div class="form-group">
   <div class="input-group-prepend">
        <span class="input-group-text" (click)="addTodo(todo.value)"><i class="material-icons">add</i></span>
      <input type="text" #todo class="form-control" placeholder="הוספת משימה" name="todo" ngModel>
     
    </div>
  </div>
    <!-- <div class="data">
      <ul class="list-instyled">
        <li *ngFor="let todo of todoArray">{{todo}}
          <i class="material-icons" (click)="deleteItem(todo)">delete</i>
          </li>
      </ul>
      </div> -->

      <div class="list-group">
          <a *ngFor="let todo of todoArray" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <p class="mb-1">{{todo}}</p>
              <small><i class="material-icons" (click)="deleteItem(todo)">delete</i></small>
            </div>
          </a>
        </div>
   
  </form>
  <br>
 