<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/solid.css" integrity="sha384-VGP9aw4WtGH/uPAOseYxZ+Vz/vaTb1ehm1bwx92Fm8dTrE+3boLfF1SpAtB1z7HW" crossorigin="anonymous">

<!-- Suppliers Form -->
<app-header [name]="'ספקים'" [titleIcon]="'fas fa-dolly'"
[action]="'צפייה'"></app-header>
<div class="container">       
        <div class="col-md-6 col-md-offset-3">
            
           
            <!-----Choose Suppliers ------>
            <div class="row">
                    <div class="col-md-6 col-md-offset-6">
                        <form #vf = "ngForm">
                           
                            <!-----Choose Supplier --> 
                            <div class="form-group">
                                    <label>:בחר ספק</label>
                                    <select [(ngModel)]="selectedSup.ID" (change)="onChange($event.target.value)" dir= "rtl" class= "form-control">
                                         <option *ngFor="let sup of supplierDetails" [value]="sup.ID">
                                         {{sup.companyName}} 
                                        </option>  
                                    </select>
                                </div>
                        </form>
                    </div>
                </div>
                <!---END-->
                <hr>

                
                <!-- <label>סוג ספק:  </label> -->
                <div class="form-group" *ngIf="selectedSup.ID">
                        <label>:ספק</label>
                        <select [(ngModel)]="selectedSup.SupplierType" dir= "rtl" name="SupplierType"  class= "form-control" disabled>
                            <option value="רגיל" >רגיל</option>
                            <option value="תורם" >תורם</option>
                        </select>
                      </div>

                <form #suppliersViewForm = "ngForm" (ngSubmit)= "ViewSupplier()" *ngIf="selectedSup.ID">
                        <div class="row">
                           <div class="col-md-6">
                                <input type="text" ngModel name = "ContactPerson" id="ContactPerson" placeholder="שם איש קשר" [(ngModel)]="selectedSup.ContactPerson" class= "form-control" disabled> <br><br>
                                <input type="text" ngModel name = "ContactPhone" id="ContactPhone" placeholder="טלפון איש קשר" [(ngModel)]="selectedSup.ContactPhone" class= "form-control" disabled>        
                           </div> 
                           <div class="col-md-6">
                                <input type="text" ngModel name = "companyName" id="companyName" placeholder="שם חברה" [(ngModel)]="selectedSup.companyName"  class= "form-control" disabled>  <br><br>
                                <input type="text" ngModel name = "Phone" id="Phone" placeholder="טלפון" [(ngModel)]="selectedSup.Phone"  class= "form-control" disabled> <br><br>
                                <input type="text" ngModel name = "Fax" id="Fax" placeholder="פקס" [(ngModel)]="selectedSup.Fax" class= "form-control" disabled> <br><br>
                                <input type="text" ngModel name = "GoodsType" id="GoodsType" placeholder="סוג סחורה" [(ngModel)]="selectedSup.GoodsType" class= "form-control" disabled><br><br>
                           </div>
                           <br>       
                        </div>
                    </form>
    </div>
</div>
