* {
    font-family: 'Varela Round', sans-serif;
}
label {
    text-align: right;
    float: right;
    width:100%;
 }
/*
   server-side-angular-way.component.css
*/
.no-data-available {
    text-align: center;
  }
   
  /*
     src/styles.css (i.e. your global style)
  */
  .dataTables_empty {
    display: none;
  }

form {
     overflow: hidden;
}
   
input {
      float: right;
      clear: both;
      width: 100%;
      text-align: right;
}


input[type=checkbox]{
    width:auto;
}

textarea{
    width: 100%;
    text-align: right;
    float: right;

}

.error1, #passwordHelpBlock {
  text-align: right;
  direction: rtl;
  font-size: 12px;
  color: gray;
}


/* Puts * near lables */
.form-group.required .control-label:after {
  content:" *";
  color:red;
} 

