
<div class="login-page">
  <div class="form">
      <img src="assets/images/logoAhva.png" class="img-logo" >
      <h1>ברוך הבא</h1>
      <h2>התחברות</h2>

      <!-- Fields -->
    <form class="login-form">
      <input type="text" ngModel name = "UserName" id="UserName" placeholder="שם משתמש" class= "form-control form-fields"/>
      <input type="password" ngModel name = "password" id="password"  placeholder="סיסמא" class= "form-control form-fields"/>

      <body>
<!-- submit button -->
<button type=button class="btn btn-primary"  (click)="clickMethod('')"> <a href="home">כניסה</a></button>
      <!-- <button class = "btn btn-primary submitBtn" type= "submit">כניסה</button> -->
      <br><br><a href="register" id= "moveToRegister">הרשמה</a>
</body>
    </form>
  </div>
</div>

