
<div class="login-page">
  <div class="form">
      <img src="assets/images/logoAhva.png" class="img-logo" >
      <h1>ברוך הבא</h1>
    <form class="login-form">
      <input type="text" ngModel name = "UserName" id="UserName" placeholder="שם משתמש" class= "form-control form-fields"/>
      <input type="password" ngModel name = "password" id="password"  placeholder="סיסמא" class= "form-control form-fields"/>
      <button  class = "btn btn-primary submitBtn" type= "submit">כניסה</button>
    </form>
  </div>
</div>

