
<!-- Form -->
<div class="login-page">
  <div class="form">
    <img src="assets/images/logoAhva.png" class="img-logo">
    <h1>ברוך הבא</h1>
    <h2>התחברות</h2>

    <form [formGroup]="registerForm" (ngSubmit)="logInto()" accept-charset="UTF-8">

      <!-- User Name Field --> 
        <div class="form-group">
          <input #userName type="text"  [(ngModel)]="newUser.userName" formControlName="userName" id="userName" placeholder="שם משתמש"
          [className]="userNameVaild ? 'form-control is-valid' : 'form-control is-invalid'" dir="rtl" class="form-control" 
          [ngClass]="{ 'is-invalid': submitted && f.userName?.errors }" name="userName" required>
          <div [className]="userNameVaild ? 'valid-feedback' : 'invalid-feedback'" id="validationName">            
              <div>{{ UserNameError }}</div>
          </div>
          <div *ngIf="submitted && f.userName?.errors" class="invalid-feedback">
            <div class="error1" *ngIf="f.userName.errors.required">אנא הכנס שם משתמש</div>
          </div>
        </div>

        <!-- Password Field -->
        <div class="form-group">
          <input #password type="password" [(ngModel)]="newUser.password" formControlName="password" id="password" placeholder="סיסמה"
             [className]="passwordVaild ? 'form-control is-valid' : 'form-control is-invalid'" dir="rtl" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.password?.errors }" name="password" required>
              <div [className]="passwordVaild ? 'valid-feedback' : 'invalid-feedback'" id="validationName">            
                  <div>{{ passwordError }}</div>
              </div>
              <div *ngIf="submitted && f.password?.errors" class="invalid-feedback"  >
            <div class="error1" *ngIf="f.password.errors.required">אנא הכנס סיסמה</div>
            <div class= "error1" *ngIf="f.password.errors.minlength">הסיסמא חייבת להכיל לפחות 6 תווים</div>
          </div>
        </div>


        <!-- Bottuns -->
        <body>
          <!-- submit button -->
          <!-- <button type=button class="btn btn-primary"> <a href="home">כניסה</a></button> -->
          <!-- <button class = "btn btn-primary submitBtn" type= "submit">כניסה</button> -->
          <button  id="submitType" type=submit class="btn btn-primary " (click)="checkPasswordAndUsername()" > כניסה</button> 

          <br><br><a href="register" id="moveToRegister">הרשמה</a>
        </body>
      <!-- </form> -->
    </form>

    
<!-- alert -->
<div class="div-horizontal">
    <div *ngIf="ansFromServer" class="alert alert-{{ alertType }} alert-dismissible">
      <a href="register" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong> {{ alertMsg }}</strong>
    </div>
  </div>

  
  </div>
</div>