<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Loading -->
<ng-template #customLoadingTemplate>
    <div class="custom-class">  </div>
</ng-template>

<br> 

<!-- Family Form -->
<app-header [name]="'משפחות נתרמות'" [titleIcon]="'fa fa-address-card-o TitleIcon'"
[action]="'צפיה'"></app-header>

 
<div class="container">
    <div class="col-md-8 offset-md-2">
         

       <!-----Choose Familiy form------>
                <form #myForm2 = "ngForm">
                    
                    
                    <!-----Choose Familiy --> 
                    <div class="form-group">
                            <label>:בחר משפחה</label>
                            <select  [(ngModel)]="selectedFam.familyId" (change)="onChange($event.target.value)" dir = "rtl" name="familyType" id="familyType" class= "form-control">
                                    <option *ngFor="let fam of familyDetails" [value]="fam.familyId">
                                            {{fam.firstName}}</option>
                            </select>
                        </div>
                </form>   
        <!---END-->


        <hr>
        <br>
         <ngx-loading [show]="stopLoading" [config]="{ backdropBackgroundColour: 'rgba(255, 255, 255, 0.2)',backdropBorderRadius: '3px', primaryColour: 'rgb(46,184,184)', secondaryColour: 'rgb(46,184,184)', tertiaryColour: 'rgb(46,184,184)' }" [template]="customLoadingTemplate"></ngx-loading>
       
         <!-- The form -->
         <form #myForm1 = "ngForm" (ngSubmit)= "viewFamily()" *ngIf="selectedFam.familyId">  
            <div class="row">
                        <div class="col-md-6">
                                
                                <!-----Date--> 
                                <div class="form-group">
                                        <label>:תאריך הצטרפות</label>
                                        <input #joinDate type="date" name = "joinDate" id="joinDate" ngModel [(ngModel)]="selectedFam.joinDate" class= "form-control" disabled>     
                                 </div>
                               <br>
                                <!-----Familiy type--> 
                                <div class="form-group">
                                    <label>:סוג משפחה</label>
                                    <select [(ngModel)]="selectedFam.familyType" dir = "rtl" name="familyType" id="familyType" class= "form-control" disabled>
                                            <option value="רווחה" >רווחה</option>
                                            <option value="פרטי" >פרטי</option>
                                     </select>
                                </div>
                                
                                 <!-----package type-->
                                 <div class="form-group">
                                     <label>:סוג סל</label>
                                     <select [(ngModel)]="selectedFam.basketType"  dir = "rtl" name="BasketType" id="BasketType" class= "form-control" disabled>
                                        <option value="normal">רגיל</option>
                                        <option value="fruit&vegs" >פירות וירקות</option>
                                        </select>
                                 </div>
                               
                                 <!-----appartment-->  
                                <div  dir = "rtl" class="checkbox">
                                    <label ><input type="checkbox" ngModel name = "house" disabled>:דירה בבעלות</label> 
                                </div> <br>
 
                                <!--car-->
                                <div class="checkbox">
                                 <label> <input type="checkbox" ngModel name = "car" disabled>:רכב בבעלות</label>
                                </div> <br>
                                
                                <!--debts-->
                                <div class="checkbox">
                                    <label> <input type="checkbox" ngModel name = "debt" disabled>:חובות </label>
                                </div> <br>
                    
                   <!-- The files -->

                    <!--Pay Checks-->
                    <div class="checkbox">
                            <label> <input type="checkbox" ngModel name = "payChecks" disabled>:תלושי שכר מן החודשיים האחרונים </label>
                            </div> <br>
        
                            <!--Social Security-->
                            <div class="checkbox">
                            <label> <input type="checkbox" ngModel name = "bituahLeumi" disabled>:מסמכים המוכיחים קבלת תמיכה מביטוח לאומי - אם יש</label>
                            </div> <br>
        
                            <!--Bank Account-->
                            <div class="checkbox">
                            <label> <input type="checkbox" ngModel name = "bankAccount" disabled>:פירוט חשבון בנק מן החודשיים האחרונים </label>
                            </div> <br>
        
                            <!--Credit details-->
                            <div class="checkbox">
                            <label> <input type="checkbox" ngModel name = "creditCard" disabled>:פירוט אשראי מן החודשיים האחרונים </label>
                            </div> <br>
                                                        
                            <!--Id-->
                            <div class="checkbox">
                            <label> <input type="checkbox" ngModel name = "copyId" disabled>:צילום+ ספח של ת.ז </label>
                            </div> <br>
                                                        
                            <!--Rent Contract-->
                            <div class="checkbox">
                            <label> <input type="checkbox" ngModel name = "rentContract" disabled>:חוזה שכר דירה </label>
                            </div> <br>
                            
                            </div>
                    <div class="col-md-6">
                            
                        <!-- the fields of the form -->
                        <input #firstName type="text" ngModel name= "firstName" placeholder="שם פרטי"  [(ngModel)]="selectedFam.firstName" class= "form-control form-fields" disabled>  <br><br>
                        <input #lastName type="text" ngModel name = "lastName" placeholder="שם משפחה" [(ngModel)]="selectedFam.lastName" class= "form-control form-fields" disabled> <br><br>
                        <input #street type="text" ngModel name= "street" placeholder="רחוב" [(ngModel)]="selectedFam.street" class= "form-control form-fields" disabled><br><br>
                        <input #houseNum type="text" ngModel name= "houseNum" placeholder="מספר בית" [(ngModel)]="selectedFam.houseNum" class= "form-control form-fields" disabled><br><br>
                        <input #floor type="text" ngModel name= "floor" placeholder="קומה" [(ngModel)]="selectedFam.floor" class= "form-control form-fields" disabled><br><br>
                        <input #phone type="text" ngModel name=  "phone" placeholder="טלפון" [(ngModel)]="selectedFam.phone" class= "form-control form-fields" disabled> <br><br>
                        <input #peopleNumber type="text" ngModel name= "peopleNumber" [(ngModel)]="selectedFam.peopleNumber" placeholder="מס' נפשות" class= "form-control form-fields" disabled> <br><br>
                        <input #howDidYouHear type="text" ngModel name= ".howDidYouHear" [(ngModel)]="selectedFam.howDidYouHear" placeholder="איך שמעתם על העמותה" class= "form-control form-fields" disabled> <br><br>
                        <textarea #reasonForReferral ngModel name= "reasonForReferral" [(ngModel)]="selectedFam.howDidYouHear" placeholder="סיבת הפנייה" class= "form-control" disabled></textarea><br><br> <br>
                        <textarea #notes ngModel name= "notes" placeholder="הערות" [(ngModel)]="selectedFam.reasonForReferral" class= "form-control" disabled></textarea><br><br>
                    </div>
                    
                </div>
    
        </form>
    </div>
</div>
