<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Loading -->
<ng-template #customLoadingTemplate>
    <div class="custom-class">  </div>
</ng-template>

<br>

<!-- volunteers Form -->
<app-header [name]="'מתנדבים'" [titleIcon]="'fas fa-hand-holding-heart'"
[action]="'צפייה'"></app-header>
    <div class="container">
            <div class="col-md-8 offset-md-2">

                <!-- Excel -->
                <button class="btn btn-primary" (click)= "downloadFile(volunteerDetails)">ייצוא כל המתנדבים לאקסל</button>

                <!-----Choose Volunteer form------>
                         <form #myForm1 = "ngForm" >

                             <!-----Choose volunteer --> 
                             <div class="form-group">
                                    <label>:בחר מתנדב</label>
                                    <select [(ngModel)]="selectedVol.VolunteerId" (change)="onChange($event.target.value)" dir= "rtl" class= "form-control">
                                            <option *ngFor="let vol of volunteerDetails" [value]="vol.VolunteerId">
                                                {{vol.VolunteerFName}}</option>
                                    </select> 
                                 </div>
                         </form>
                 <!---END-->
 
                 <hr>
                 <ngx-loading [show]="stopLoading" [config]="{ backdropBackgroundColour: 'rgba(255, 255, 255, 0.2)',backdropBorderRadius: '3px', primaryColour: 'rgb(46,184,184)', secondaryColour: 'rgb(46,184,184)', tertiaryColour: 'rgb(46,184,184)' }" [template]="customLoadingTemplate"></ngx-loading>
 
                <!-- the fields of the form -->
                <div class="form-group" *ngIf="selectedVol.VolunteerId">
                <label>:סוג מתנדב</label>
                <select [(ngModel)]="selectedVol.VolunteerType"  dir="rtl" name="VolunteerType" id="VolunteerType" class= "form-control" disabled>
                        <option value="Permanent">מתנדב קבוע</option>
                        <option value="holidays">בחגים</option>
                </select> </div>

                <!-- The form -->
                <form #volunteerForm = "ngForm" (ngSubmit)= "UpdateVolunteer()" *ngIf="selectedVol.VolunteerId">

                <!-- Fields -->
                <input type="text" ngModel name = "VolunteerFName" id="VolunteerFName" placeholder="שם פרטי" [(ngModel)]="selectedVol.VolunteerFName" class= "form-control" disabled>  <br><br>
                <input type="text" ngModel name = "VolunteerLName" id="VolunteerLName" placeholder="שם משפחה" [(ngModel)]="selectedVol.VolunteerLName" class= "form-control" disabled> <br><br>
                <input type="text" ngModel name = "vPhone" id="vPhone" placeholder="טלפון" [(ngModel)]="selectedVol.vPhone" class= "form-control" disabled> <br><br>
                
                <label>:תאריך לידה</label>
                <input #BirthDate type="date" name = "BirthDate" id="BirthDate" ngModel [(ngModel)]="selectedVol.BirthDate" class= "form-control" disabled> <br> <br>      

                </form>
            </div>
        </div>