

<!-- Family Form -->
<app-header [name]="'משפחות נתרמות'" [titleIcon]="'fa fa-address-card-o TitleIcon'"
[action]="'הוספה'"></app-header>
<div class="container"> 

    <div class="col-md-8 col-md-offset-2">
        <form #myForm = "ngForm" (ngSubmit)= "insertFamily()" accept-charset="UTF-8" >
        <div class="row">
                <div class="col-md-6">

                        <!-----Date-->
                        <div class="form-group">
                                <label>:תאריך הצטרפות</label>
                                <input #joinDate type="date" name= "joinDate" class= "input" ngModel [(ngModel)]="newFam.joinDate" class= "form-control">     
                         </div>
                       <br>
                        <!-----Familiy type--> 
                        <div class="form-group">
                            <label>:סוג משפחה</label>
                            <select #familyType dir = "rtl" name="familyType" ngModel [(ngModel)]="newFam.familyType" class= "form-control">
                                    <option value="רווחה" >רווחה</option>
                                    <option value="פרטי" >פרטי</option>
                             </select>
                        </div>
                        
                         <!-----package type-->
                         <div class="form-group">
                             <label>:סוג סל</label>
                             <select #basketType dir = "rtl" name="BasketType" ngModel [(ngModel)]="newFam.basketType" id="BasketType" class= "form-control">
                                    <option value="normal">רגיל</option>
                                    <option value="fruit&vegs" >פירות וירקות</option>
                                </select>
                         </div>
                        

                        <!-----appartment-->  
                        <div class="checkbox">
                            <label><input #house type="checkbox" name = "house" class= "input" ngModel [(ngModel)]="newFam.house" >:דירה בבעלות</label>
                        </div> <br>

                        <!--car-->
                        <div class="checkbox">
                         <label><input #house type="checkbox" name = "car" class= "input" ngModel [(ngModel)]="newFam.car">:רכב בבעלות</label>
                        </div><br>
                  
                        <!--debts-->
                        <div class="checkbox">
                            <label><input #house type="checkbox" name = "debt" class= "input" ngModel [(ngModel)]="newFam.debt">:חובות </label>
                        </div>

                                           <!-- The files -->

                    <!--Pay Checks-->
                    <div class="checkbox">
                        <label><input #house type="checkbox" name = "payChecks" class= "input" ngModel [(ngModel)]="newFam.payChecks">:תלושי שכר מן החודשיים האחרונים </label>
                            </div> <br>
        
                            <!--Social Security-->
                            <div class="checkbox">
                                <label><input #house type="checkbox" name = "bituahLeumi" class= "input" ngModel [(ngModel)]="newFam.bituahLeumi">:מסמכים המוכיחים קבלת תמיכה מביטוח לאומי - אם יש</label>
                            </div> <br>
        
                            <!--Bank Account-->
                            <div class="checkbox">
                                <label><input #house type="checkbox" name = "bankAccount" class= "input" ngModel [(ngModel)]="newFam.bankAccount">:פירוט חשבון בנק מן החודשיים האחרונים </label>
                            </div> <br>
        
                            <!--Credit details-->
                            <div class="checkbox">
                                <label><input #house type="checkbox" name = "creditCard" class= "input" ngModel [(ngModel)]="newFam.creditCard">:פירוט אשראי מן החודשיים האחרונים </label>
                            </div> <br>
                                                        
                            <!--Id-->
                            <div class="checkbox">
                                <label><input #house type="checkbox" name = "copyId" class= "input" ngModel [(ngModel)]="newFam.copyId">:צילום+ ספח של ת.ז </label>
                            </div> <br>
                                                        
                            <!--Rent Contract-->
                            <div class="checkbox">
                                <label><input #house type="checkbox" name = "rentContract" class= "input" ngModel [(ngModel)]="newFam.rentContract">:חוזה שכר דירה </label>
                            </div> <br> 
                            
                    </div>
            <div class="col-md-6">
                <!-- the filds of the form -->
                <input #firstName type="text" ngModel [(ngModel)]= "newFam.firstName" name = "firstName" id="firstName" placeholder="שם פרטי" class= "form-control form-fields">  <br><br>
                <input #lastName type="text" ngModel [(ngModel)] = "newFam.lastName" name = "lastName" id="lastName" placeholder="שם משפחה" class= "form-control form-fields"> <br><br>
                <input #street type="text" ngModel [(ngModel)]= "newFam.street" name = "street" id="street" placeholder="רחוב" class= "form-control form-fields"><br><br>
                <input #houseNum type="text" ngModel [(ngModel)]= "newFam.houseNum" name = "houseNum" id="houseNum" placeholder="מספר בית" class= "form-control form-fields"><br><br>
                <input #floor type="text" ngModel [(ngModel)]= "newFam.floor" name = "floor" id="floor" placeholder="קומה" class= "form-control form-fields"><br><br>
                <input #phone type="text" ngModel [(ngModel)]=  "newFam.phone" name = "phone" id="phone" placeholder="טלפון" class= "form-control form-fields"> <br><br>
                <input #peopleNumber type="text" ngModel [(ngModel)]= "newFam.peopleNumber" name = "peopleNumber" id="peopleNumber" placeholder="מס' נפשות" class= "form-control form-fields"> <br><br>
                <input #howDidYouHear type="text" ngModel [(ngModel)]= "newFam.howDidYouHear" name = "howDidYouHear" id="howDidYouHear" placeholder="איך שמעתם על העמותה" class= "form-control form-fields"> <br><br>
                <textarea #reasonForReferral ngModel [(ngModel)]= "newFam.reasonForReferral" name = "reasonForReferral" id="reasonForReferral" placeholder="סיבת הפנייה" class= "form-control"></textarea><br><br> <br>
                <textarea #notes ngModel [(ngModel)]= "newFam.notes" placeholder="הערות" name = "notes" id="notes" class= "form-control"></textarea><br><br>
            </div>     
        </div>
        <button  class = "btn btn-primary submitBtn" type= "submit"> הוסף </button>
    
        </form>
    </div>

</div>