<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- volunteer Form -->
<app-header [name]="'מתנדבים'" [titleIcon]="'fas fa-hand-holding-heart'"
[action]="'מחיקה'"></app-header>

<!-----Remove Familiy form------>
<div class="container">
        <div class="col-md-6 col-md-offset-3">
             <form #myForm2 = "ngForm" (ngSubmit) = "DeleteFamiliy(myForm2)">
                 <!-----Choose Familiy --> 
                 <div class="form-group">
                        <label>:בחר מתנדב</label>
                        <select dir= "rtl" name="volunteersType" id="volunteersType" class= "form-control">
                                <option value="משהו" >משהו</option>
                                <option value="1משהו" >משהו1</option>
                        </select> 
                     </div>
                     <button  class = "btn btn-primary submitBtn" type= "submit"> מחק </button>
             </form>
         </div>
     </div>
     <!---END-->
    