<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Loading -->
<ng-template #customLoadingTemplate>
        <div class="custom-class"> </div>
</ng-template>
 
<br> <br>
<!-- volunteer Form -->
<app-header [name]="'מתנדבים'" [titleIcon]="'fas fa-hand-holding-heart'" [action]="'מחיקה'"></app-header>

<!-----Remove Familiy form------>
<div class="container">
        <div class="col-md-8 offset-md-2">

                <!-- alert -->
                <div class="div-horizontal">
                        <div *ngIf="ansFromServer" class="alert alert-{{ alertType }} alert-dismissible">
                                <a (click)="navigate()"  class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong> {{ alertMsg }}</strong>
                                <!-- <button mat-menu-item routerLink="remove-volunteers">הוספה</button> -->
                        </div>
                </div>


                <form #myForm2="ngForm" (ngSubmit)="DeleteVolunteer(myForm2)">


                        <!-----Choose Familiy -->
                        <div class="form-group">
                                <label>:בחר מתנדב</label>
                                <select #VolunteerId [(ngModel)]="selectedVolunteer" dir="rtl" name="volunteersType" id="volunteersType"
                                        class="form-control">
                                        <option *ngFor="let vol of volunteerDetails" [ngValue]="vol.VolunteerId">
                                                {{vol.VolunteerFName}}
                                        </option>
                                </select>
                        </div>
                        <button class="btn btn-primary submitBtn" type="submit"> מחק </button>
                </form>
                <br>

                <!-- loading -->
                <ngx-loading [show]="stopLoading" [config]="{ backdropBackgroundColour: 'rgba(255, 255, 255, 0.2)',backdropBorderRadius: '3px', primaryColour: 'rgb(46,184,184)', secondaryColour: 'rgb(46,184,184)', tertiaryColour: 'rgb(46,184,184)' }"
                        [template]="customLoadingTemplate"></ngx-loading>


        </div>
</div>
<!---END-->