<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/solid.css"
  integrity="sha384-VGP9aw4WtGH/uPAOseYxZ+Vz/vaTb1ehm1bwx92Fm8dTrE+3boLfF1SpAtB1z7HW" crossorigin="anonymous">

<!-- Loading -->
<ng-template #customLoadingTemplate>
  <div class="custom-class"> </div>
</ng-template>

<!-- Suppliers Form -->
<br>
<app-header [name]="'ספקים'" [titleIcon]="'fas fa-dolly'" [action]="'הוספה'"></app-header>

<div class="container">
  <div class="col-md-8 offset-md-2">

    <!-- alert -->
    <div class="div-horizontal">
      <div *ngIf="ansFromServer" class="alert alert-{{ alertType }} alert-dismissible">
        <a href="suppliers" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong> {{ alertMsg }}</strong>
      </div>
    </div>

    <!-- Loading -->
    <ngx-loading [show]="submitted && stopLoading"
      [config]="{ backdropBackgroundColour: 'rgba(255, 255, 255, 0.2)',backdropBorderRadius: '3px', primaryColour: 'rgb(46,184,184)', secondaryColour: 'rgb(46,184,184)', tertiaryColour: 'rgb(46,184,184)' }"
      [template]="customLoadingTemplate"></ngx-loading>

    <form [formGroup]="registerForm" (ngSubmit)="insertSupplier()" accept-charset="UTF-8">

      <!-- Dropdown Supplier Type -->
      <div class="form-group required">
      <div class="form-group">
        <label class="control-label">:ספק</label>
        <select #Type dir="rtl" name="SupplierType" id="SupplierType" formControlName="SupplierType"
          class="form-control" [ngClass]="{ 'is-invalid': submitted && f.SupplierType?.errors }"
          aria-describedby="inputGroupPrepend2">
          <option value="רגיל">רגיל</option>
          <option value="תורם">תורם</option>
          <div *ngIf="submitted && f.SupplierType?.errors" class="invalid-feedback">
            <div class="error1" *ngIf="f.SupplierType.errors.required">אנא בחר סוג ספק</div>
          </div>
        </select>
        <small id="passwordHelpBlock" class="form-text text-muted"> אנא בחר סוג ספק </small>
      </div>
    </div>

      <!-- Contact Person Field -->
      <div class="form-row">
        <div class="col-md-6 ">
          <div class="form-group ">
              <input #ContactPerson type="text" formControlName="ContactPerson" name="ContactPerson" id="contactName"
              placeholder="שם איש קשר" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ContactPerson?.errors }" >
            <div *ngIf="submitted && f.ContactPerson?.errors" class="invalid-feedback">
              <div class="error1" *ngIf="f.ContactPerson.errors.pattern">אנא הזן אותיות בלבד</div>
            </div>
          </div>
      </div>

        <!-- Compny Name Field -->
        <div class="col-md-6">
          <div class="form-group">
            <input #companyName type="text" formControlName="companyName" name="companyName" id="company"
              placeholder="שם חברה" class="form-control" style= "display:inline"
              [ngClass]="{ 'is-invalid': submitted && f.companyName?.errors }" aria-describedby="inputGroupPrepend2">
            <div *ngIf="submitted && f.companyName?.errors" class="invalid-feedback">
              <div class="error1" *ngIf="f.companyName.errors.required">אנא הכנס שם חברה</div>
              <div class="error1" *ngIf="f.companyName.errors.pattern">אנא הזן אותיות בלבד</div>
            </div>
          </div>
        </div> <br><br>
      </div>

      <!-- Contact Phone Field -->
      <div class="form-row">
        <div class="col-md-6">
          <div class="form-group">
            <input #ContactPhone type="text" formControlName="ContactPhone" name="ContactPhone" id="contactPhone"
              placeholder="טלפון איש קשר" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.ContactPhone?.errors }" aria-describedby="inputGroupPrepend2">
            <div *ngIf="submitted && f.ContactPhone?.errors" class="invalid-feedback">
              <div class="error1" *ngIf="f.ContactPhone.errors.minlength">נא להזין 8 מספרים לפחות</div>
              <div class="error1" *ngIf="f.ContactPhone.errors.maxLength">ניתן להזין עד 30 תווים</div>
              <div class="error1" *ngIf="f.ContactPhone.errors.pattern">נא להזין מספרים בלבד</div>
            </div>
          </div>
        </div>

        <!-- Phone Field -->
        <div class="col-md-6">
          <div class="form-group">
            <input #Phone type="text" formControlName="Phone" name="Phone" id="phone" placeholder="טלפון"
              class="form-control" aria-describedby="inputGroupPrepend2"
              [ngClass]="{ 'is-invalid': submitted && f.Phone?.errors }"> <br>
            <div *ngIf="submitted && f.Phone?.errors" class="invalid-feedback">
              <div class="error1" *ngIf="f.Phone.errors.required">אנא הכנס מספר טלפון</div>
              <div class="error1" *ngIf="f.Phone.errors.minlength"> נא להזין 8 מספרים לפחות</div>
              <div class="error1" *ngIf="f.Phone.errors.maxLength">ניתן להזין עד 30 תווים</div>
              <div class="error1" *ngIf="f.Phone.errors.pattern">נא להזין מספרים בלבד</div>
            </div>
          </div>
        </div><br><br> 
      </div>


      <!-- Fax Field -->
      <div class="form-row">
        <div class="col-md-6">
          <div class="form-group">
            <input #Fax type="text" formControlName="Fax" name="Fax" id="fax" placeholder="פקס" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.Fax?.errors }" aria-describedby="inputGroupPrepend2">
            <div *ngIf="submitted && f.Fax?.errors" class="invalid-feedback">
              <div class="error1" *ngIf="f.Fax.errors.minlength">נא להזין 8 מספרים לפחות</div>
              <div class="error1" *ngIf="f.Fax.errors.pattern">נא להזין מספרים בלבד</div>
            </div>
          </div>
        </div>

        <!-- Address Field -->
        <div class="col-md-6">
          <div class="form-group">
            <input #Address type="text" formControlName="Address" name="Address" id="Address" placeholder="כתובת"
              class="form-control" aria-describedby="inputGroupPrepend2"
              [ngClass]="{ 'is-invalid': submitted && f.Address?.errors }"> <br>
            <div *ngIf="submitted && f.Address?.errors" class="invalid-feedback"> </div>
          </div>
        </div><br><br>
      </div>


      <!-- Goods Type Field -->
      <div class="form-row">
        <div class="col-12">
          <div class="form-group">
            <input #GoodsType type="text" formControlName="GoodsType" name="GoodsType" id="goodsType"
              placeholder="סוג סחורה" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.GoodsType?.errors }" aria-describedby="inputGroupPrepend2">
            <div *ngIf="submitted && f.GoodsType?.errors" class="invalid-feedback">
              <div class="error1" *ngIf="f.GoodsType.errors.required">אנא הכנס את סוג הסחורה</div>
              <div class="error1" *ngIf="f.GoodsType.errors.pattern">אנא הזן אותיות בלבד</div>
            </div>
          </div>
        </div>
      </div> <br>

      <!-- Bottom -->
      <div class="form-group">
        <button class="btn btn-primary" type="submit">הוסף</button>
      </div>
    </form>
    <br>


  </div>
</div>