<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/solid.css" integrity="sha384-VGP9aw4WtGH/uPAOseYxZ+Vz/vaTb1ehm1bwx92Fm8dTrE+3boLfF1SpAtB1z7HW" crossorigin="anonymous">


<!-- Suppliers Form -->
<app-header [name]="'ספקים'" [titleIcon]="'fas fa-dolly'"
[action]="'הוספה'"></app-header> 
<div class="container">
  <div class="col-md-8 col-md-offset-2">
      <form #f = "ngForm" (ngSubmit)= "insertSupplier()" accept-charset="UTF-8" >
        
        <!-- Dropdown -->
          <div class="form-group">
              <label>:ספק</label>
              <select #Type dir= "rtl" name="SupplierChooseType" ngModel [(ngModel)]="newSupp.SupplierType" name= "Type" class= "form-control">
                  <option value="רגיל" >רגיל</option>
                  <option value="תורם" >תורם</option>
              </select>
            </div>
            
        <div class="row">

           <div class="col-md-6">
                <input #ContactPerson type="text" ngModel [(ngModel)]="newSupp.ContactPerson" name = "ContactPerson" id="contactName" placeholder="שם איש קשר" class= "form-control"> <br><br>
                <input #ContactPhone type="text" ngModel [(ngModel)]="newSupp.ContactPhone" name = "ContactPhone" id="contactPhone" placeholder="טלפון איש קשר" class= "form-control">        
           </div>

  

           <div class="col-md-6">
                <input #companyName type="text" ngModel [(ngModel)]="newSupp.companyName" name = "companyName" id="company" placeholder="שם חברה" class= "form-control">  <br><br>
                <input #Phone type="text" ngModel [(ngModel)]="newSupp.Phone" name = "Phone" id="phone" placeholder="טלפון" class= "form-control"> <br><br>
                <input #Fax type="text" ngModel [(ngModel)]="newSupp.Fax" name = "Fax" id="fax" placeholder="פקס" class= "form-control"> <br><br>
                <input #GoodsType type="text" ngModel [(ngModel)]="newSupp.GoodsType" name = "GoodsType" id="goodsType" placeholder="סוג סחורה" class= "form-control"><br><br>
           </div>
           <br>       
            
        </div>
        <button  class = "btn btn-primary submitBtn" type= "submit"> הוסף </button>
    </form>
  </div>
</div>
