<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Family Form -->
<app-header [name]="'משפחות נתרמות'" [titleIcon]="'fa fa-address-card-o TitleIcon'"
[action]="'מחיקה'"></app-header>

 <!-----Remove Familiy form------>
 <div class="container">
        <div class="col-md-6 col-md-offset-3">
             <form #myForm2 = "ngForm" (ngSubmit) = "DeleteFamiliy(myForm2)">
                 <!-----Choose Familiy --> 
                 <div class="form-group">
                         <label>:בחר משפחה</label>
                         <select  dir= "rtl" name="familyType" id="familyType" class= "form-control">
                                 <option value="1" >משפחה 1</option>
                                 <option value="2" >משפחה 2</option>
                         </select>
                     </div>
                     <button  class = "btn btn-primary submitBtn" type= "submit"> מחק </button>
             </form>
         </div>
     </div>
     <!---END-->
        
    