<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/solid.css" integrity="sha384-VGP9aw4WtGH/uPAOseYxZ+Vz/vaTb1ehm1bwx92Fm8dTrE+3boLfF1SpAtB1z7HW" crossorigin="anonymous">

<!-- Suppliers Form -->
<app-header [name]="'ספקים'" [titleIcon]="'fas fa-dolly'"
[action]="'עריכה'"></app-header>
<div class="container">      
        <div class="col-md-6 col-md-offset-3">
            
            <div *ngIf="ansFromServer" class="alert alert-{{ alertType }} alert-dismissible">
                    <a href="edit-suppliers" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{ alertMsg }}</strong>
              </div>
           
            
            <div class="row">
                    <div class="col-md-6 col-md-offset-6">
                        <form #myForm2 = "ngForm" (ngSubmit) = "ChooseFamiliy(myForm2)">
                            <!-----Choose Familiy --> 
                            <div class="form-group">
                                    <label>:בחר ספק</label>
                                    <select [(ngModel)]="selectedSup.ID" (change)="onChange($event.target.value)"   dir= "rtl" name="familyType" id="familyType" class= "form-control">
                                         <option *ngFor="let sup of supplierDetails" [value]="sup.ID">
                                         {{sup.companyName}}
                                        </option>  
                                    </select>
                                </div>
                        </form>
                    </div>
                </div>
                <!---END-->
                <hr>
                <!-- <label>סוג ספק:  </label> -->
                <div class="form-group" *ngIf="selectedSup.ID">
                        <label>:ספק</label>
                        <select [(ngModel)]="selectedSup.SupplierType" dir= "rtl" name="SupplierChooseType"  class= "form-control">
                            <option value="רגיל" >רגיל</option>
                            <option value="תורם" >תורם</option>
                        </select>
                      </div>

                <form #suppliersForm = "ngForm" (ngSubmit)= "UpdateSupplier()" *ngIf="selectedSup.ID">
                        <div class="row">
                           <div class="col-md-6">
                                <input type="text" ngModel name = "contactName" id="contactName" placeholder="שם איש קשר" [(ngModel)]="selectedSup.ContactPerson" class= "form-control"> <br><br>
                                <input type="text" ngModel name = "contactPhone" id="contactPhone" placeholder="טלפון איש קשר" [(ngModel)]="selectedSup.ContactPhone" class= "form-control">        
                           </div> 
                           <div class="col-md-6">
                                <input type="text" ngModel name = "company" id="company" placeholder="שם חברה" [(ngModel)]="selectedSup.companyName"  class= "form-control">  <br><br>
                                <input type="text" ngModel name = "phone" id="phone" placeholder="טלפון" [(ngModel)]="selectedSup.Phone"  class= "form-control"> <br><br>
                                <input type="text" ngModel name = "fax" id="fax" placeholder="פקס" [(ngModel)]="selectedSup.Fax" class= "form-control"> <br><br>
                                <input type="text" ngModel name = "goodsType" id="goodsType" placeholder="סוג סחורה" [(ngModel)]="selectedSup.GoodsType" class= "form-control"><br><br>
                           </div>
                           <br>       
                           
                        </div>
                        <button  class = "btn btn-primary submitBtn" type= "submit"> ערוך </button>
                    </form>
    </div>
</div>
