
<br><app-header [name]="'ניהול הזמנות'" [titleIcon]="'fa fa-shopping-cart'"
[action]="''"></app-header>

<div class="container">
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
      <tr>
        <th width="40%">פעולות</th>
        <th width="60%">סוג הזמנה</th>
      </tr>
    </thead>
    <tbody *ngIf="suppliers?.length != 0">
      <tr>
        <!-- <tr *ngFor="let sup of suppliers"> -->
            <td>
              <button class="btn btn-danger btn-sm">מחיקה <i class="fas fa-trash-alt"></i></button>&nbsp;
              <button class="btn btn btn-primary btn-sm">עריכה <i class="fas fa-edit"></i></button>&nbsp;
              <button class="btn btn btn-secondary btn-sm">צפייה <i class="far fa-eye"></i></button>&nbsp;
              <button class="btn btn-success btn-sm">הוספת הזמנה מסוג זה <i class="fas fa-plus"></i></button>
            </td>
            <!-- <td>{{ sup.SupplierType }}</td> -->
            <td>הזמנה קבועה חגים</td>
        </tr>
    </tbody>
    <tbody *ngIf="suppliers?.length == 0">
      <tr>
        <td colspan="3" class="no-data-available">!אין נתונים</td>
      </tr>
    <tbody>
  </table>
  <button  class = "btn btn-primary submitBtn" routerLink ="/order-type" type= "submit">  הוסף סוג הזמנה חדש </button>
  </div>