<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- File Form -->
<br>
<app-header [name]="'טפסים'" [titleIcon]="'fa fa-file-text-o'" [action]="'הוספה'"></app-header>
<div class="container">
        <div class="col-md-6 offset-md-3">
                <form #filesForm="ngForm" [formGroup]="registerForm" (ngSubmit)="addFiles()" accept-charset="UTF-8">


                        <!-- File name Field -->
                        <div class="form-group">
                                <span class="required-mark"> * </span>
                                <input #fileName type="text" formControlName="fileName" name="fileName" id="fileName"
                                        placeholder="הזן שם טופס" class="form-control" dir="rtl"
                                        [ngClass]="{ 'is-invalid': submitted && f.fileName?.errors }">
                                <div *ngIf="submitted && f.fileName?.errors" class="invalid-feedback">
                                        <div class="error1" *ngIf="f.fileName.errors.required">אנא הכנס שם טופס</div>
                                </div>
                        </div><br>
                        <br>

                        <!-- Adding the file -->
                        <div class="block">

                                        <div class="form-group required">
                                                <div class="form-group">

                                                        <label class="control-label">:בחר קובץ</label>
                                                        <input type="file" name="fileToUpload" class="form-fields"
                                                                dir="rtl"> </div>
                                                </div>
                        </div>
                        <br>
                        <br>
                        <button class="btn btn-primary" type="submit"> הוסף </button>

                </form>

        </div>
</div>