<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://unpkg.com/bootstrap-css-only@4.1.1/css/bootstrap.min.css" rel="stylesheet">
<link href="https://unpkg.com/font-awesome@4.7.0/css/font-awesome.css" rel="stylesheet">
<link href="https://unpkg.com/angular-calendar@0.26.4/css/angular-calendar.css" rel="stylesheet">
<link href="https://unpkg.com/flatpickr@4.5.2/dist/flatpickr.css" rel="stylesheet">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- Modal -->
<div class="modal fade" id="BirthModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="BirthModalLabel">ימי הולדת <i class="fas fa-birthday-cake"></i></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="list-group">
                <a *ngFor="let b of birthday" class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between">
                      <p class="mb-1">{{b.VolunteerFName}} {{b.VolunteerLName}}</p>
                  </div>
                </a>
              </div>
        </div>
        <div class="modal-footer">
            <button type="button" id="mainBtn" class="btn btn-success" data-dismiss="modal">המשך כניסה לאתר</button>
          </div>
      </div>
    </div>
  </div>
 <!-- Modal -->
 <button type="button" hidden class="btn btn-success btn-sm" data-toggle="modal" data-target="#BirthModal" ></button>
 
 <!-- <div class="modal fade" id="BirthModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
 aria-hidden="true">
 <div class="modal-dialog" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <h5 class="modal-title" id="BirthModalModalLabel">ימי הולדת <i class="fas fa-birthday-cake"></i></h5>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="list-group">
        <a *ngFor="let b of birthday" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
              <p class="mb-1">{{b.VolunteerFName}} {{VolunteerLName}}</p>
          </div>
        </a>
      </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-success" data-dismiss="modal">המשך כניסה לאתר</button>
     </div>

   </div>
 </div>
</div> -->

<!--start-->
<br>
<div class="row">
    <div class="col-md-2">
  </div>
  <div class="col-md-7">
      <div class="media">
          <img class="align-self-center mr-3" src="assets/images/logo-ahva-600_268.png" height="70" alt="Generic placeholder image">
          <div class="media-body">
            <h1 class="mt-0"> ניהול עמותת אחווה וחסד</h1>
          </div>
        </div>
      <!-- <div class="center">
          <img src="assets/images/logo-ahva-600_268.png"  height="80" ><h1 style="display: inline;"> ניהול עמותת אחווה וחסד</h1>
      </div> -->
        <!-- -->
</div>
  <div class="col-md-3">
      <div class="text-center">
        <div  class="mb-1">
          <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">לוח שנה</a>
            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">משימות</a>
          </div>
        </div>
      </div>
   </div>
</div>
<hr>
<!-- <h1>ברוך הבא {{currentUser.userName}}!</h1> -->

<br>
<div class="container">
 
      <!-- <button [@openClose]="isOpen ? 'open' : 'closed'" class="btn btn-default">
          <i class="fas fa-birthday-cake"></i>
      </button> -->
    
      <h3>משימות ולוחות זמנים</h3><br>
    <!-- <div class="row"> -->
        <!-- <div class="col-10"> -->
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                  <app-calendar-home-page></app-calendar-home-page>
              </div>
              <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                  <app-todolist></app-todolist>
              </div>
              </div>
          <!-- </div> -->
      
      
    <!-- </div> -->

<!-- 
    <div id="accordion">
            <div class="card">
                    <div class="card-header" id="headingTwo">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          משימות
                        </button>
                      </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                      <div class="card-body">
                              <app-todolist></app-todolist>
                      </div>
                    </div>
                  </div>
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    לוח שנה
                  </button>
                </h5>
              </div>
          
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                        <app-calendar-home-page></app-calendar-home-page>
                </div>
              </div>
            </div>
            
            
          </div> -->
    <!-- <nav class="nav nav-pills nav-fill">
            <a class="nav-item nav-link active" data-toggle="collapse" href="#calendar" role="button" aria-expanded="false" aria-controls="calendar">לוח שנה</a>
            <a class="nav-item nav-link" data-toggle="collapse" href="#tasks" role="button" aria-expanded="false" aria-controls="tasks">משימות</a>    
    </nav>
    <div class="collapse" id="tasks">
       <div class="card card-body">
        <app-todolist></app-todolist>
        </div>
    </div>
    <div class="collapse" id="calendar">
        <div class="card card-body">
        <app-calendar-home-page></app-calendar-home-page>
        </div>
    </div> -->
 
</div>


