<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <div class="row">
            <h1>ברוך הבא </h1>
            <div class="col-md-5">
                <h2>משימות <i class="fas fa-tasks"></i></h2>
                <hr>
            <div id="myDIV"  class="header">
                
                <span onclick="newElement()" class="addBtn">הוסף</span>
                <input type="text" id="myInput" placeholder="...שם המשימה" class="form-control form-field">
                
              </div>
              
              <ul id="myUL" >
                <li>הוספת סוג חדש של חבילה</li>
                <li class="checked">קבלת סחורה</li>
                <li>העלאת טפסים</li>
                <li>הכנסת משפחה חדשה</li>
              </ul>
            </div>
            <div class="col-md-6"></div>
        </div>


