<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://unpkg.com/bootstrap-css-only@4.1.1/css/bootstrap.min.css" rel="stylesheet">
<link href="https://unpkg.com/font-awesome@4.7.0/css/font-awesome.css" rel="stylesheet">
<link href="https://unpkg.com/angular-calendar@0.26.4/css/angular-calendar.css" rel="stylesheet">
<link href="https://unpkg.com/flatpickr@4.5.2/dist/flatpickr.css" rel="stylesheet">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- <div class="jumbotron jumbotron-fluid">
        
          <img src="assets/images/Ahva-logo-trans-200-89.png" class="img-responsive center" >
          <h1 class="display-4" dir= "rtl">אחווה וחסד</h1> 
</div> -->
<br>
  <img src="assets/images/logo-ahva-600_268.png" class="rounded mx-auto d-block" height="160" ><br>
<hr>
<br>
<div class="container">
    <h3>משימות ולוחות זמנים</h3><br>
    <div id="accordion">
            <div class="card">
                    <div class="card-header" id="headingTwo">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          משימות
                        </button>
                      </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                      <div class="card-body">
                              <app-todolist></app-todolist>
                      </div>
                    </div>
                  </div>
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    לוח שנה
                  </button>
                </h5>
              </div>
          
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                        <app-calendar-home-page></app-calendar-home-page>
                </div>
              </div>
            </div>
            
            
          </div>
    <!-- <nav class="nav nav-pills nav-fill">
            <a class="nav-item nav-link active" data-toggle="collapse" href="#calendar" role="button" aria-expanded="false" aria-controls="calendar">לוח שנה</a>
            <a class="nav-item nav-link" data-toggle="collapse" href="#tasks" role="button" aria-expanded="false" aria-controls="tasks">משימות</a>    
    </nav>
    <div class="collapse" id="tasks">
       <div class="card card-body">
        <app-todolist></app-todolist>
        </div>
    </div>
    <div class="collapse" id="calendar">
        <div class="card card-body">
        <app-calendar-home-page></app-calendar-home-page>
        </div>
    </div> -->
 
</div>


