<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Loading -->
<ng-template #customLoadingTemplate>
        <div class="custom-class">  </div>
</ng-template>

<!-- volunteers Form -->
<br>
<app-header [name]="'מתנדבים'" [titleIcon]="'fas fa-hand-holding-heart'"
[action]="'הוספה'"></app-header>
<div class="container">
        <div class="col-md-8 offset-md-2"> 

 <!-- Loading -->
 <ngx-loading [show]="stopLoading" [config]="{ backdropBackgroundColour: 'rgba(255, 255, 255, 0.2)',backdropBorderRadius: '3px', primaryColour: 'rgb(46,184,184)', secondaryColour: 'rgb(46,184,184)', tertiaryColour: 'rgb(46,184,184)' }" [template]="customLoadingTemplate"></ngx-loading>

    <form #v = "ngForm" (ngSubmit)= "insertVolunteer()" accept-charset="UTF-8">
        
    <!-- the fields of the form -->
    <div class="form-group">
    <label>:סוג מתנדב</label>
    <select #volunteerType dir= "rtl" name="volunteersType" ngModel [(ngModel)]="newVol.VolunteerType" class= "form-control">
    <option value="קבוע">מתנדב קבוע</option>
    <option value="חגים">בחגים</option>
    </select> </div>

        <!-- new FormControl ('Validators.required') -->
        <input #volunteerFName type="text" ngModel required [(ngModel)]="newVol.VolunteerFName" name = "firstName" id="firstName" placeholder="שם פרטי"  input pattern="[a-zA-Z ]*" class= "form-control">  <br><br>
        <input #volunteerLName type="text" ngModel [(ngModel)]="newVol.VolunteerLName" name = "lastName" id="lastName" placeholder="שם משפחה" class= "form-control"> <br><br>
        <input #volunteerPhone type="number" ngModel [(ngModel)]="newVol.vPhone" name = "phone" id="phone" placeholder="טלפון" class= "form-control"> <br><br><br>
       
        <label>:תאריך לידה</label>
        <input #birthdate type="date" name = "BirthDate"  ngModel [(ngModel)]="newVol.BirthDate" class= "form-control"> <br> <br> <br> <br> 

        <button  class = "btn btn-primary submitBtn" type= "submit"> הוסף </button>
        
    </form>
    <br>
  
    <!-- alert -->
    <div class = "div-horizontal">
     <div *ngIf="ansFromServer"  class="alert alert-{{ alertType }} alert-dismissible">
       <a href="volunteers"  class="close" data-dismiss="alert" aria-label="close">&times;</a>
       <strong > {{ alertMsg }}</strong>
       </div>
    </div>

    </div>
</div>